


.tile
{
	width: 250px;
	height: 450px;
	padding: 20px 20px 20px 0;
	
	border: 1px double red;
	display: inline-block;

	background-color: #140200;
	
}

.tileNews
{
	width: 75%;
	height: 200px;
	max-width: 750px;
	
	padding: 20px 20px 20px 0;
		
	border: 3px double red;
	display: inline-block;

	background-color: #140200;
}
.tileContact
{
	width: 75%;
	height: 200px;
	max-width: 900px;
	
	padding: 20px 20px 20px 0;
		
	border: 3px double red;
	display: inline-block;

	background-color: #140200;
}
.tile404
{
	width: 90%;
	padding: 20px 20px 20px 0;
	
	border: 1px double red;
	display: inline-block;

	background-color: #140200;
	
}


.tileSS
{
	width: 90%;
	height: 30%; 
	padding-left: 5%;
}

.tileDL
{
	width: 30%;

	position: absolute;
	top: 92%;
	left: 50%;
	
	padding-left: 20px;
	padding-right: 20px;
	color:#FFFFFF;

	background-color: #730800;
	
	border: 2px dashed red;
	border-radius: 15px 0 15px 5px;
}
.tileNews_More
{
	width: 10%;
	min-width: 30px;
	max-width: 200px;
	
	position: absolute;
	top: 85%;
	left: 76%;
	
	padding-left: 10px;
	padding-right: 20px;
	color:#FFFFFF;

	background-color: #730800;
	
	border: 2px dashed red;
	border-radius: 15px 0 15px 5px;
}
.tile_SendEmail
{
	width: 20%;
	min-width: 60px;
	max-width: 200px;
	
	position: absolute;
	top: 35%;
	left: 38%;

	padding-left: 10px;
	padding-right: 20px;
	color:#FFFFFF;

	background-color: #730800;
	
	border: 2px dashed red;
	border-radius: 15px 0 15px 5px;
}

a.tileDL:hover
{	
	color: red;	
}
	
a.tileNews_More:hover
{	
	color: red;	
}

.tileDesc
{
	font-size: 11px;
	position: absolute;
	top: 50%;
	width: 85%;
}
.tileContacts
{
	font-size: 11px;
	position: absolute;
	top: 85%;
	left: 5px;
	margin: auto;
	width: 97%;
}
.tileNews_Update
{
/*	border: 2px dashed green; */
	
	font-size: 11px;
	position: absolute;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	
	width: 94%;
	
	height: 110px;
	overflow: auto;
	
	text-indent: 50px;
	text-align: left;
	
	margin: 0 auto;
}
.tileTitle
{
	font-size: 18px;
}
.tileNews_Title
{
	/* border: 2px dashed green; */
	font-size: 16px;
	width: 95%;
	overflow: hidden;
	
	text-align: left;
}
.tileContact_Title
{
	font-size: 16px;
	width: 95%;
	overflow: hidden;	
}

.tileYear
{
	font-size: 10px;
	text-align:left;
	top: 80%;
	position: absolute;

}
.tilePrice
{
	font-size: 10px;
	text-align:left;
	top: 92%;
	position: absolute;

}

.tileGenre
{
	font-size: 10px;
	text-align:left;
	top: 85%;
	position: absolute;

}
.tileNews_Date
{
	/* border: 2px dashed green; */
	font-size: 10px;
	text-align: left;
	top: 85%;
	width: 150px;
	position: absolute;
}

.pageHeader
{
	width: 450px;
	margin: auto;
	color: red;
	padding-bottom: 40px;
	
/*	border: 2px solid red;*/
}
.pageHeader2
{
	width: 450px;
	margin: auto;
	color: red;
	padding-top: 40px;
	padding-bottom: 40px;
	
/*	border: 2px solid red;*/
}

.gjContainer
{
/*	border: 2px solid white; */
	width: 90%;
/*	padding: 0 0 0 20px;*/
	
	position: center;
	margin: 0 auto;
}

