body
{
/*	border: 2px solid yellow; */
	background-color: black;
	/*background-image: url('Images/BG_Texture.jpg');*/
	background-repeat: repeat;
	
	padding-bottom: 40px;
	overflow-x: hidden;
}

h1
{
	width: 450px;
	margin: auto;
	color: red;	
/*	border: 2px solid red;*/
}

p
{
	color: red;
	margin-left: 20px;
}

a
{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}

ul
{
	list-style-type: none;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	width: 95%;
	min-height:50px;
	
/*	border: 2px solid green; */
	
	justify-content: center;
	display: flex;
}


a:hover
{
	background-color: #730800;
}

.tile
{
	width: 90%;
	padding: 20px 20px 20px 0;
	
	border: 1px double red;
	display: inline-block;

	background-color: #140200;
	
}

.divPages
{
	height: 75px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}


.titleLinks
{
	float: center;
	display: inline-block;
	
	text-decoration: none;
	border: 2px solid #730800;
	border-radius: 0 15px 0 5px;
  
	padding: 5px 10px;
	background-color: red;
	
	height: 20px;

}
.titleLinks_Active
{
	float: left;
	display: inline-block;
	
	text-decoration: none;
	border: 2px solid #b04300;
	border-radius: 0 15px 0 5px;
  
	padding: 5px 10px;
	background-color: red;
	
	height: 20px;
	top: -3px;
}

.divPages
{
	height: 75px;
	width: 100%;
	padding-bottom: 20px;

	
}


.divFooter
{
/*	border: 2px solid green; */
	position: relative;

	top: 100px;
	left: -10px;
	bottom: 5px;
	width: 100%;
	
	margin-top: -50px;
	margin-bottom: 25px;
	
	font-size: 10px;
	opacity: 50%;
}

.home_img
{
	width: 20px;
	height: 20px;
}

* {
	position: relative;
	text-align: center;
	color: blue;
}