body
{
	background-color: black;
	/*background-image: url('Images/BG_Texture.jpg');*/
	background-repeat: repeat;
	back
	
}

h1
{
	width: 450px;
	margin: auto;
	color: red;	
/*	border: 2px solid red;*/
}

p
{
	color: red;
	margin-left: 20px;
	
}

a
{
	text-decoration: none;
}

.titleLinks
{
	text-decoration: none;
	border: 2px solid red;
	border-radius: 0 15px 0 5px;
  
	display: block;
	padding: 10px 20px;
	background-color: #dddddd;
	top: 10px;
	
	
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 5% 10% 5% 10%;
	width: 80%;
	
}

li 
{
	float: left;
	display: block;

/*	border: 2px solid red; */
}
li a:hover
{
	background-color: #111;
}



.divLogo
{
	margin: 0 auto;
	top: 0;
	bottom: 20px;
	
	animation-name: LogoFadeIn;
	animation-duration: 3s;
	
	
	/*border: 2px solid red;*/
}
@keyframes LogoFadeIn
{
  from {opacity: 0%;}
  to {opacity: 100%;}
}
@keyframes LogoFadeOut 
{
  from {opacity: 100%;}
  to {opacity: 0%;}
}



.divPages
{
/*	border: 2px solid red; */
/*	border-radius: 0 15px 0 5px; */
	
	left: 50%;
	top: 5px;
	transform: translate(-50%, -50%);
	margin: 35px auto;
	width: 100%;
}

.divSocialLinks
{
/*	border: 2px solid red;*/
/*	border-radius: 0 15px 0 5px; */
	
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, -5%);
	margin: 0 auto;
	
	
}

.divFooter
{
	position: relative;

	top: 20px;
	bottom: 0;
	width: 100%;
	
}


.titleLogo_img
{
	width: 400px;
	height: 400px;
	position: 60px;
}
.sm_img
{
	width: 50px;
	height: 50px;
}

* {
	position: relative;
	text-align: center;
	color: blue;
}